@{
    ViewBag.Title = "About";
}

<div class="container">
    
    
    <h2>About</h2>

    <h3>Welcome to RealEstate</h3>
    
    <p>Real Estate is the leading real estate and rental marketplace dedicated to empowering consumers with data, 
    inspiration and knowledge around the place they call home, and connecting them with the best local professionals who can help.</p>

<p>Real Estate serves the full lifecycle of owning and living in a home: buying, selling, renting, financing, remodeling and more. 
    It starts with Real Estate's database of available South African homes. </p>
     
    <p>Real Estate operates the most popular suite of mobile real estate apps, with more than two dozen apps across all major platforms.</p>

<p>Real Estate launched in 2015 and is headquartered in Potchefstroom, North West as part of a university project.</p>
</div>