@{
    ViewBag.Title = "Contact";
}
<div class="container">

<h1>Contact</h1>
<h2>General inquiries</h2>
    Put contact form and general contact information here

    <h2>Contact agent</h2>
    
    


    <div class="col-md-6 col-sm-6">
       
        <form action="../Data/SendEmailContact" method="post">
            <div class="form-group">
                <label for="agent_id">Select an agent to contact:</label>
                <select name="agent_id" class="form-control" id="provinceSelect" ref="province">
                    @foreach (var agent in ViewBag.Agents)
                    {
                        <option value="@agent.Agent_Id">@(agent.Agent_Name + " " + agent.Agent_Surname)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="client_name">Name</label>
                <input type="text" name="client_name" class="form-control input-lg" placeholder="Enter name : ">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="client_email" class="form-control input-lg" placeholder="Enter email : ">
            </div>
            <div class="form-group">
                <label for="telp">Telp.</label>
                <input name="client_phone" type="text" class="form-control input-lg" placeholder="Enter phone number : ">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="body" class="form-control input-lg" rows="7" placeholder="Type a message : "></textarea>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Send Message" class="btn btn-warning btn-lg">
            </div>
        </form>
    </div>


</div>