

.slider-filler{
    height: 700px;
}



.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bg {
  background: url('/Assets/Images/home_banner_test.jpg') no-repeat center center;
  width: 100%;
  /*position:absolute;
  margin: 0;
  padding: 0;
  left:0;
  top:0;
  height:800px;
      */
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.propertyImg {
    max-width: 100%;
    margin-bottom: 15px;
}


.propertyItem {
    background-color: white;
    box-shadow: 0px 1px 3px #d4d4d4;
    margin-bottom: 30px;
}

.propertyDetails {
    background-color: #f8f8f8;
    margin-top: 0px;
    border: 1px solid #cacaca;
    width: 100%;
    text-align: center;
}

.propertyDetails td {
    font-family: Proxima Nova Semi-bold;
    font-size: 12px;
    width: 33.6%;
    height: 45px;
    border-color: #cacaca;
    color: #ababab;
}

.propertyType {
    position: absolute;
    font-family: Proxima Nova Semi-bold;
    font-size: 12px;
    background-color: #4a4786;
    color: white !important;
    padding: 7px;
    z-index: 1;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


.searchbox {
    width: 100%;
}



.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
    width:100%;
}





.input-block-level {
  display: block;
  width: 100%;
  
}

input[type="text"] {
    box-sizing: border-box;
    min-height: 48px;
}

.big-btn{
    min-height: 48px;
    height: 48px;
}





























